<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my_site</title>
    {%load static%}
    <link rel ="stylesheet" type ="text/css" href="{%static 'main/css/base.css'%}">
</head>
<body>
    <div class="hat">
        <div class="logo">YOU<span class="color">SITE</span></div>
        <nav>
                <a href="">home</a>
                <a href="portfolio">home</a>
                <a href="contact">home</a>
                <a href="application">home</a>
        </nav>
    </div>
</body>
</html>
