<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my_site</title>
    {%load static%}
    <link rel ="stylesheet" type ="text/css" href="{%static 'main/css/base.css'%}">
</head>
<body>
    <div class="hat">
        <div class="logo">YOU<span class="color">SITE</span></div>
        <nav>
                <a class="button1" href="">home</a>
                <a class="button2" href="portfolio">portfolio</a>
                <a class="button3" href="contact">contact</a>
                <a class="button4" href="application">application</a>
        </nav>
    </div>
</body>
</html>
